{% extends 'index.html' %}
{% load static %}

{% block content %}
<section class="hot_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        First Meal :)
      </h2>
      <hr>
    </div>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority
    </p>
  </div>

  <div class="container">
   
    <div class="card" style="display: flex; padding: auto;">
      
      <div class="" style="display: flex; flex-wrap: wrap;">
        {% for food in foods %}
        <div class="box" style="margin-left: 90px;">
          <div class=""  style=" margin-right: 130px; ">
            <div class="card-image">
              <figure class="image is-4by3" style="margin-top: 20px;">
                <img src="{{food.image.url}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
      
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{food.title}}</p>
                  <p class="subtitle is-6">{{food.about}}</p>
                </div>
              </div>
      
              <div class="content">
                {{food.ingredient}}
                <br>
                <h6>{{food.price}}$</h6>
                <br>
                <button type="button" class="btn btn-primary">Order Now</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
  
</section>

{% endblock %}